.navcustom{
  background-color: white;
  min-height: 80px;
}
.navbar-header a.title{
  color: black;
  font-size: 35px;
}

.navbar-header span{
  color: blue;
  font-size: 35px;
}

.navcustom ul{
  width: 100%;   
}
.navcustom>.container-fluid ul li{
  margin: 0px;
}
.navcustom ul li>.title{
  font-size: 30px;
  text-decoration: none;
  color: black;
}
.navcustom ul li>.other{
  font-size: 20px;
  text-decoration: none;
  color: black;
  border-radius: 40px;
  min-width: 120px;
  text-align: center;
  padding: 10px;
}

.navcustom ul li>.other:hover{
  color: white;
  border-radius: 40px;
  min-width: 120px;
  text-align: center;
  background-color: black;
}

/**  **/
.blogcont{
  width: 1000px;

}
.blogcomment{
  background-color: rgba(0, 0, 0, 0.315);
  padding: 15px;
  border-radius: 5px;
}


.loginForm{
  background-color: rgba(0, 0, 0, 0.09);
  width: 450px;
  padding: 20px;
  border: 2px solid;
  border-radius: 10px;
}
input[type='submit']{
  margin-top:5px;
  border: 1px solid #4B9E92;
  background-color: white;
  color: black;
}
input[type='submit']:hover{
  border: 1px solid white;
  background-color: #4B9E92;
  color: white;
}