{% extends 'base.html' %}

{% block content%}
<h5 class="text-center mb-3">Blog | Home</h5>


    {% for blog in blogs %}
    <div class="indexblog p-3">
      <div class="d-md-flex justify-content-between align-items-center p-1">
        <h3>{{ blog.title|capitalize }}</h3>
        <span>Posted on {{ blog.dateposted.strftime('%a %b %d, %Y')}}</span>
      </div>
      <p>{{ blog.content }}</p>
      <div class="d-md-flex justify-content-between align-items-center">
        <span>Author {{ blog.users}}</span>
        <a class="fullblog" href="{{ url_for('main.fullblog', id= blog.id) }}">View Full Blog</a>
        <a href="{{ url_for('main.comment', id= blog.id) }}"><button class="btn btn-outline-success">Comments <span>{{blog.comments.count()}}</span></button></a>
      </div>

    </div>

    <hr>

    {% endfor %}
    <div class="text-center">
      <p>{{ quote.quote }}</p>
      <sub>--{{ quote.author }}--</sub>
    </div>



{% endblock %}